        .nr {
	font-size: 150%;
	font-weight: bolder;
	margin: 0 auto;
	width: 800px;
	background-color: #FFFFD2;
	opacity: 0.8;
	border-radius: 5px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
        }


        .bt {
	margin: 0 auto;
	width: 800px;
	font-size: 130%;
	font-weight: bolder;
	background-color: #AA96DA;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	border-radius: 10px 10px 10px 10px
        }

        .acd {
            font-size: 170%;
        }
		
        .dazi {
        font-size: 300%;
        }
		
        * {
            font-family: LXGW WenKai
        }

		
        
		
		
		
		
.nr p {
}
